In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://www.kaggle.com/datasets/nelgiriyewithana/top-spotify-songs-2023?select=spotify-2023.csv
path = r"C:\Users\arthur.oliveira\OneDrive\Codes\Database\Spotify\spotify-2023.csv"
df = pd.read_csv(path, encoding='latin-1')

df.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [4]:
df.dtypes

track_name              object
artist(s)_name          object
artist_count             int64
released_year            int64
released_month           int64
released_day             int64
in_spotify_playlists     int64
in_spotify_charts        int64
streams                 object
in_apple_playlists       int64
in_apple_charts          int64
in_deezer_playlists     object
in_deezer_charts         int64
in_shazam_charts        object
bpm                      int64
key                     object
mode                    object
danceability_%           int64
valence_%                int64
energy_%                 int64
acousticness_%           int64
instrumentalness_%       int64
liveness_%               int64
speechiness_%            int64
dtype: object

converter
streams,in_deezer_playlists,in_shazam_charts -> int
Dividir colunas com % por 100 ?

In [5]:
# método to_numeric do pandas com o parâmetro errors='coerce' para converter valores não numéricos para NaN,
#então usar o método dropna para remover essas linhas
df['streams'] = pd.to_numeric(df['streams'], errors='coerce')
df = df.dropna(subset=['streams'])

In [6]:
#applymap para formatar saida
df.describe().applymap("{0:.2f}".format)

,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_charts,bpm,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
count,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00,952.00
mean,1.56,2018.29,6.04,13.94,5202.57,12.02,514137424.94,67.87,51.96,2.67,122.55,66.98,51.41,64.27,27.08,1.58,18.21,10.14
std,0.89,11.01,3.56,9.20,7901.40,19.58,566856949.04,86.47,50.63,6.04,28.07,14.63,23.48,16.56,26.00,8.41,13.72,9.92
min,1.00,1930.00,1.00,1.00,31.00,0.00,2762.00,0.00,0.00,0.00,65.00,23.00,4.00,9.00,0.00,0.00,3.00,2.00
25%,1.00,2020.00,3.00,6.00,874.50,0.00,141636175.00,13.00,7.00,0.00,99.75,57.00,32.00,53.00,6.00,0.00,10.00,4.00
50%,1.00,2022.00,6.00,13.00,2216.50,3.00,290530915.00,34.00,38.50,0.00,121.00,69.00,51.00,66.00,18.00,0.00,12.00,6.00
75%,2.00,2022.00,9.00,22.00,5573.75,16.00,673869022.00,88.00,87.00,2.00,140.25,78.00,70.00,77.00,43.00,0.00,24.00,11.00
max,8.00,2023.00,12.00,31.00,52898.00,147.00,3703895074.00,672.00,275.00,58.00,206.00,96.00,97.00,97.00,97.00,91.00,97.00,64.00

In [7]:
df['in_deezer_playlists'] = df['in_deezer_playlists'].str.replace(',', '.')

In [8]:
df['in_deezer_playlists'] = df['in_deezer_playlists'].astype('float')

In [9]:
df['in_deezer_playlists']

0       45.0
1       58.0
2       91.0
3      125.0
4       87.0
       ...
948     37.0
949      8.0
950      7.0
951     17.0
952     32.0
Name: in_deezer_playlists, Length: 952, dtype: float64

In [10]:
df['in_shazam_charts'] = df['in_shazam_charts'].str.replace(',', '.')
df['in_shazam_charts'] = df['in_shazam_charts'].astype('float')

In [11]:
df['in_shazam_charts']

0      826.0
1      382.0
2      949.0
3      548.0
4      425.0
       ...
948      0.0
949      0.0
950      0.0
951      0.0
952      0.0
Name: in_shazam_charts, Length: 952, dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 952 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            952 non-null    object
 1   artist(s)_name        952 non-null    object
 2   artist_count          952 non-null    int64
 3   released_year         952 non-null    int64
 4   released_month        952 non-null    int64
 5   released_day          952 non-null    int64
 6   in_spotify_playlists  952 non-null    int64
 7   in_spotify_charts     952 non-null    int64
 8   streams               952 non-null    float64
 9   in_apple_playlists    952 non-null    int64
 10  in_apple_charts       952 non-null    int64
 11  in_deezer_playlists   952 non-null    float64
 12  in_deezer_charts      952 non-null    int64
 13  in_shazam_charts      902 non-null    float64
 14  bpm                   952 non-null    int64
 15  key                   857 non-null    object
 16  mode                  952 non-null    object
 17  danceability_%        952 non-null    int64
 18  valence_%             952 non-null    int64
 19  energy_%              952 non-null    int64
 20  acousticness_%        952 non-null    int64
 21  instrumentalness_%    952 non-null    int64
 22  liveness_%            952 non-null    int64
 23  speechiness_%         952 non-null    int64
dtypes: float64(3), int64(17), object(4)
memory usage: 185.9+ KB

In [17]:
#Faz a contagem por categoria
aaa = df['mode'].value_counts()

In [16]:
#Faz a contagem por categoria e faz tabela

df['mode'].value_counts().to_frame()

       mode
Major   549
Minor   403

In [31]:
print(aaa[aaa.index[0]])

549

In [24]:
# Atribuir o resultado a uma variável
counts = df['mode'].value_counts()

# Acessar cada contagem por seu índice
for index in counts.index:
    print(f"A contagem para {index} é {counts[index]}")

A contagem para Major é 549
A contagem para Minor é 403

In [33]:
df_streams = df[['released_year','streams']]

In [34]:
df_group = df_streams.groupby(['released_year'], as_index=False).mean()

In [35]:
df_group

    released_year       streams
0            1930  9.059852e+07
1            1942  3.955914e+08
2            1946  3.897720e+08
3            1950  4.732483e+08
4            1952  3.955914e+08
5            1957  4.599810e+08
6            1958  4.368543e+08
7            1959  2.867089e+08
8            1963  4.370878e+08
9            1968  1.145728e+09
10           1970  5.200345e+08
11           1971  4.604928e+08
12           1973  8.385868e+08
13           1975  2.103053e+09
14           1979  4.039395e+08
15           1982  1.751377e+08
16           1983  1.593271e+09
17           1984  8.679063e+08
18           1985  1.115405e+09
19           1986  5.668379e+08
20           1987  1.553498e+09
21           1991  1.029420e+09
22           1992  1.271293e+09
23           1994  1.449779e+09
24           1995  9.685020e+08
25           1996  1.069331e+08
26           1997  1.037625e+08
27           1998  1.284943e+09
28           1999  1.080616e+09
29           2000  9.834935e+08
30           2002  1.446620e+09
31           2003  1.584021e+09
32           2004  8.789296e+08
33           2005  1.805775e+08
34           2007  1.217121e+09
35           2008  1.240408e+09
36           2010  1.081406e+09
37           2011  9.363213e+08
38           2012  1.341534e+09
39           2013  1.220192e+09
40           2014  1.264047e+09
41           2015  9.937214e+08
42           2016  1.124608e+09
43           2017  1.367723e+09
44           2018  1.503052e+09
45           2019  1.051970e+09
46           2020  9.379387e+08
47           2021  6.202362e+08
48           2022  2.895582e+08
49           2023  1.474771e+08

In [5]:
df =df.head(20)

In [9]:
for row in df:
    for item in row:
        print(item)

t
r
a
c
k
_
n
a
m
e
a
r
t
i
s
t
(
s
)
_
n
a
m
e
a
r
t
i
s
t
_
c
o
u
n
t
r
e
l
e
a
s
e
d
_
y
e
a
r
r
e
l
e
a
s
e
d
_
m
o
n
t
h
r
e
l
e
a
s
e
d
_
d
a
y
i
n
_
s
p
o
t
i
f
y
_
p
l
a
y
l
i
s
t
s
i
n
_
s
p
o
t
i
f
y
_
c
h
a
r
t
s
s
t
r
e
a
m
s
i
n
_
a
p
p
l
e
_
p
l
a
y
l
i
s
t
s
i
n
_
a
p
p
l
e
_
c
h
a
r
t
s
i
n
_
d
e
e
z
e
r
_
p
l
a
y
l
i
s
t
s
i
n
_
d
e
e
z
e
r
_
c
h
a
r
t
s
i
n
_
s
h
a
z
a
m
_
c
h
a
r
t
s
b
p
m
k
e
y
m
o
d
e
d
a
n
c
e
a
b
i
l
i
t
y
_
%
v
a
l
e
n
c
e
_
%
e
n
e
r
g
y
_
%
a
c
o
u
s
t
i
c
n
e
s
s
_
%
i
n
s
t
r
u
m
e
n
t
a
l
n
e
s
s
_
%
l
i
v
e
n
e
s
s
_
%
s
p
e
e
c
h
i
n
e
s
s
_
%

In [8]:
table = [["A", 'B', 'C'], [4, 5, 6], [7, 8, 9]]
for row in table:
    for item in row:
        print(item)

A
B
C
4
5
6
7
8
9