In [1]:
import pandas as pd

In [12]:
url = 'https://www.stats.govt.nz/assets/Uploads/Business-operations-survey/Business-operations-survey-2022/Download-data/business-operations-survey-2022-price-and-wage-setting.csv'

In [13]:
df = pd.read_csv(url, encoding='ansi')

In [14]:
df.head()

,description,industry,level,size,line_code,value
0,Business main customer: individuals or households,total,0,6–19 employees,C0300.01,15639
1,Business main customer: individuals or households,total,0,20–49 employees,C0300.01,2943
2,Business main customer: individuals or households,total,0,50–99 employees,C0300.01,639
3,Business main customer: individuals or households,total,0,100+ employees,C0300.01,555
4,Business main customer: individuals or households,"Agriculture, forestry, & fishing",1,total,C0300.01,348

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14758 entries, 0 to 14757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  14758 non-null  object
 1   industry     14758 non-null  object
 2   level        14758 non-null  int64
 3   size         14758 non-null  object
 4   line_code    14758 non-null  object
 5   value        14758 non-null  int64
dtypes: int64(2), object(4)
memory usage: 691.9+ KB

In [18]:
# axis 1 drop column 0 drop row
df.dropna(subset=['size'],axis=0,inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14758 entries, 0 to 14757
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  14758 non-null  object
 1   industry     14758 non-null  object
 2   level        14758 non-null  int64
 3   size         14758 non-null  object
 4   line_code    14758 non-null  object
 5   value        14758 non-null  int64
dtypes: int64(2), object(4)
memory usage: 691.9+ KB

In [20]:
df['level'].value_counts()

level
2    7536
1    5652
0    1570
Name: count, dtype: int64

In [21]:
# Convert column type
df['value'] = df['value'].astype('float')

In [22]:
df['value'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 14758 entries, 0 to 14757
Series name: value
Non-Null Count  Dtype
--------------  -----
14758 non-null  float64
dtypes: float64(1)
memory usage: 115.4 KB