In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
cols = ['fLength','fWidth','fSize','fConc','fConc1','fAsym','fM3Long','fM3Trans','fAlpha','fDist','class']
df = pd.read_csv('.\\database\\magic04.data',names=cols)

In [16]:
df.head()

,fLength,fWidth,fSize,fConc,fConc1,fAsym,fM3Long,fM3Trans,fAlpha,fDist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [17]:
df['class'].unique()

array(['g', 'h'], dtype=object)

In [18]:
# Convert Class column g = 1 | h = 0

df['class'] = (df['class'] == 'g').astype(int)

In [ ]:
for label in cols[:-1]:
    plt.hist(df[df['class'] == 1][label], color='blue', label='gamma', alpha=0.7 , density=True)
    plt.hist(df[df['class'] == 0][label], color='red', label='hadronic', alpha=0.7 ,density=True)
    plt.title(label)
    plt.ylabel('Probability')
    plt.xlabel(label)
    plt.legend()
    plt.show()

TRAIN, VALIDATION, TEST DATASET

In [ ]:
# df.sample(frac=1): This part of the code is used to shuffle the dataframe df. The sample function returns a random sample of items. frac=1 means return all rows (in random order).
# np.split(): This function splits an array into multiple sub-arrays. In this case, itâ€™s used to split the shuffled dataframe into three parts.
# [int(0.6*len(df)), int(0.8*len(df))]: These are the indices where the dataframe is split. The dataframe df is split at 60% of its length and 80% of its length. This results in three parts:
# The first part is from the start to the 60% mark (used for training).
# The second part is from the 60% mark to the 80% mark (used for validation).
# The third part is from the 80% mark to the end (used for testing).
# train, valid, test =: These are the variables where the three parts of the dataframe are stored. After the line of code is executed, train will contain 60% of the data, valid will contain the next 20%, and test will contain the remaining 20%.

In [31]:
train, valid, test = np.split(df.sample(frac=1),[int(0.6*len(df)), int(0.8*len(df))])

c:\Users\arthur.oliveira.PTCM-6597\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [36]:
train.shape

(11412, 11)

In [37]:
valid.shape

(3804, 11)

In [38]:
test.shape

(3804, 11)