In [1]:
import pandas as pd

In [16]:
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/biostats.csv'
df = pd.read_csv(url)

In [17]:
df.head()

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41              74              170
1  Bert         "M"      42              68              166
2  Carl         "M"      32              70              155
3  Dave         "M"      39              72              167
4  Elly         "F"      30              66              124

In [18]:
df.describe()

           "Age"  "Height (in)"  "Weight (lbs)"
count  18.000000      18.000000       18.000000
mean   34.666667      69.055556      146.722222
std     7.577055       3.522570       22.540958
min    23.000000      62.000000       98.000000
25%    30.000000      66.250000      132.000000
50%    32.500000      69.500000      150.000000
75%    38.750000      71.750000      165.250000
max    53.000000      75.000000      176.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             18 non-null     object
 1        "Sex"       18 non-null     object
 2    "Age"           18 non-null     int64
 3    "Height (in)"   18 non-null     int64
 4    "Weight (lbs)"  18 non-null     int64
dtypes: int64(3), object(2)
memory usage: 852.0+ bytes

In [20]:
df.dtypes

Name               object
     "Sex"         object
 "Age"              int64
 "Height (in)"      int64
 "Weight (lbs)"     int64
dtype: object