In [14]:
import pandas as pd
import numpy as np

# Create a dictionary with some NaN values
data = {
    'A': ['A', 'B', 'B', 'C'],
    'B': [5, np.nan, np.nan, 8],
    'C': [9, 10, 11, 12]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

In [15]:
df

   A    B   C
0  A  5.0   9
1  B  NaN  10
2  B  NaN  11
3  C  8.0  12

In [16]:
df.isna().sum()

A    0
B    2
C    0
dtype: int64

In [17]:
media = df['B'].mean()

In [18]:
df['B'].fillna(media, inplace=True)

C:\Users\arthur.oliveira\AppData\Local\Temp\ipykernel_14744\1984178378.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(media, inplace=True)

In [19]:
df

   A    B   C
0  A  5.0   9
1  B  6.5  10
2  B  6.5  11
3  C  8.0  12